@model int

<h2>
    <p class="text-danger">
        The item with id=@Model can't be removed
    </p>
</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
    Return to Shopping
</a>